
@{
    ViewData["Title"] = "Not Response";
}

<div class="container">
    <div class="row">
        
        <div class="col-lg-12">
            <div class="alert alert-warning w-100" role="alert">
                An error occurred while responding to your request or the input values ​​are not valid. Please try again.
            </div>
        </div>
        
        <div class="col-lg-12 text-center">
            <a href="/" class="btn btn-secondary">Back Home</a>
        </div>

    </div>
</div>